doctype html
html
	head
		meta(name="viewport"  content="width=device-width, initial-scale=1.0")
		title= title
		link(rel='stylesheet', href='/stylesheets/index.css')
	block content
		body
			#profilePic: img(src="https://placeskull.com/150/150/134611/18")
			#containers: h1#description
			<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
			<script src="javascripts/index.js"></script>
